.App {
  text-align: center;
  background-color: #f2f2f2;
  font-size: calc(10px + 2vmin);
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header p {
  margin: 0;
  padding: 15px;
  font-weight: bold;
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App-footer {
  padding: 15px;
}

